body {
  margin-inline: max(0px, ((100% - 260px) / 2));
  font: 90%/1.4 system-ui;
}

.card-stacked {
  position: sticky;
  top: 0;
  background: white;
  padding: 1.5rem;
  box-shadow: 0 -0.5rem 1rem rgba(0 0 0 / 0.15);
  border-radius: 4px;
}

@for $i from 1 through 4 {
  .card-stacked:nth-child(#{$i}) {
    top: $i + rem;
    rotate: $i + deg;
  }
}